{% block form_row %}
    {% set has_errors = form.vars.errors|length > 0 %}
    <div class="mb-3">
        {{ form_label(form) }}
        {% if has_errors %}
            {% set widget_attr = {attr: {class: 'is-invalid'}} %}
            {{ form_widget(form, widget_attr) }}
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block form_label %}
    {% if label is not same as(false) %}
        <label for="{{ id }}" class="form-label">
            {{ label }}
            {% if required %}
                <span class="text-danger">*</span>
            {% endif %}
        </label>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="invalid-feedback d-block">
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' form-control')|trim
    }) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}

{% block checkbox_row %}
    <div class="mb-3 form-check">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block checkbox_widget %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' form-check-input')|trim
    }) %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock %}

{% block textarea_widget %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' form-control')|trim
    }) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock %}

{% block choice_widget_collapsed %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' form-select')|trim
    }) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if placeholder is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {% set render_preferred_choices = true %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {% set render_preferred_choices = false %}
        {{- block('choice_widget_options') -}}
    </select>
{% endblock choice_widget_collapsed %}
